<% include ./partials/header.ejs %>
  <main>
    <section class="profile">
      <picture>
        <img src="<%= image %>" alt="Profile picture">
      </picture>
      <h1 id="name"><%= name %></h1>
      <h4 id="username">@<%= username %></h4>
      <button id="friends-button">Obserwowani</button>
      <button id="followers-button">Ostatni Obserwujący</button>
      <a href="/tweet"><button id="tweet-button">Tweet +</button></a>
    </section>

    <section class="posts">
    <div id="tweets-container">
      <% tweets.forEach(function(tweet){ %>
        <div class="tweet">
          <img src="<%= image %>" alt="Profile picture">
          <h2><%= tweet.name %></h2>
          <h4>@<%= tweet.username %></h4>
          <h4><%= tweet.time %></h4>
          <p><%= tweet.text %><p/>
        </div>
      <% }) %>
    </div>
      <div id="container">
      </div>
    </section>

  </main>
<script>

      var friends  = <%-JSON.stringify(friends)%>,
       followers   = <%-JSON.stringify(followers)%>,
       friendsButton = document.getElementById('friends-button'),
       followersButton = document.getElementById('followers-button'),
       toggleFriends   = 0,
       toggleFollowers = 0;

      function displayFriends(){
        var container = document.getElementById("container");

        if(toggleFriends == 1){
          container.innerHTML = "";
          toggleFriends = 0;
          document.getElementById('tweets-container').style.display = "block";
          return;
        }

        document.getElementById('tweets-container').style.display = "none";
        container.style.display = "block";

        for(var i = 0; i < friends.length; i++){
          var friend = "<div class='list'><img src="+friends[i].image+"><h2>"+friends[i].name+"</h2><h4>@"+friends[i].username+"</h4></div>";
          container.insertAdjacentHTML('beforeend', friend)
        }
        toggleFriends = 1;
      }

      function displayFollowers(){
        var container = document.getElementById("container");

        if(toggleFollowers == 1){
          container.innerHTML = "";
          toggleFollowers = 0;
          document.getElementById('tweets-container').style.display = "block";
          return;
        }

        document.getElementById('tweets-container').style.display = "none";
        container.style.display = "block";

        for(var i = 0; i < followers.length; i++){
          var follower = "<div class='list'><img src="+followers[i].image+"><h2>"+followers[i].name+"</h2><h4>@"+followers[i].username+"</h4></div>";
          container.insertAdjacentHTML('beforeend', follower)
        }
        toggleFollowers = 1;
      }


      friendsButton.addEventListener("click", displayFriends);
      followersButton.addEventListener("click", displayFollowers);

</script>

<% include ./partials/footer.ejs %>
