<% include ./partials/header.ejs %>
  <nav>
      <i class="fab fa-twitter"></i>
  </nav>
  <main>
    <section class="profile">
      <picture>
        <img src="<%= image %>" alt="Profile picture">
      </picture>
      <h1 id="name"><%= name %></h1>
      <h4 id="username">@<%= username %></h4>
      <button id="friends">Obserwowani</button>
      <button id="followers">Ostatni Obserwujący</button>
    </section>

    <section class="posts">
    // <% friends.forEach(function(friends){ %>
    // <div>
    //     <h2><%= friend.name %></h2>
    //     <img src="<%= friend.image %>">
    //     <h4><%= friend.username %></h4>
    // </div>
    //   <% }) %>
      <div id="container">
      </div>
    </section>

  </main>


<% include ./partials/footer.ejs %>
